body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 17px;
  color: #232323
}
a {
  text-decoration: none;
  color: #000;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
}
h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
}
h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 25px;
}
h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
p {
  color: #6c6c6c;
  font-size: 17px;
}
.wrapper {
  padding: 0 140px;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-1 {
  flex: 1;
}
.v-center-h-right {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.v-center-h-left {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.vh-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.primary-btn {
  padding: 16px 28px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.ptb-30 {
  padding: 30px 0;
}
.pt-25 {
  padding-top: 25px;
}
.pt-40 {
  padding-top: 40px;
}
